html {
  font-family: "Fredoka One", cursive;
  margin: 0%;
  height: 100%;
  width:100%;
}
body {
  margin: 0%;
  height: 100%;
  width:100%;
  background-image: url("imges/BG.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app{
text-align: center;
}
.timer {
  font-size: 60px;
  color: white;
}
.invisible {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
#laps{
  
    width: 400px;
    background-color: rgba(22, 22, 22,0.5);
    color:#fff;
    overflow-y: scroll;
    font-size: 40px;
    
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
button {
  background-color: rgba(255, 134, 0, 1);
  border: none;
  border-radius: 5px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 16px;
  height: 50px;
  width: 100px;
  margin: auto;
  font-family: "Fredoka One", cursive;
  cursor: pointer;
}

.buttons{
  margin-top: 5px;
}